/* Visualize */
* {
    border: 1px solid red;
    
}
/* sizing */
h1,h2,h6, ul {
    padding: 0;
    margin: 0;
    font-size: 16px;
}
img {
    display: block;
    width: 100%;
    height: auto;
}

/* stucture */
body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
}
main {
    flex:1;
}
/* content */
.content{
    padding: 10px;
    width: 98%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    
    
}
section{
    padding-top: 20px;
    padding-bottom: 20px;
}
.text-picture{
    display: flex;
    gap: 20px;
}
.text-picture .text, .text-picture .picture {
    flex-basis: 50%;
}